.dashboard h1 {
  color: rgba(51, 122, 183, 0.69); }

.dashboard hr {
  margin-top: 5px; }

.dashboard .orange {
  background: #f88d6f  !important; }

.dashboard .blue {
  background-color: rgba(98, 186, 212, 0.65) !important; }

.dashboard .green {
  background-color: #B7DDA8  !important; }

.dashboard .mini-stat {
  background-color: rgba(225, 225, 225, 0.66);
  border: 1px solid #F1F2F7;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px; }
  .dashboard .mini-stat .mini-stat-icon {
    width: 65px;
    height: 65px;
    display: inline-block;
    line-height: 65px;
    text-align: center;
    font-size: 30px;
    background: #eee;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    color: #fff; }
  .dashboard .mini-stat .mini-stat-info {
    font-size: 18px;
    padding-top: 2px; }
    .dashboard .mini-stat .mini-stat-info span {
      display: block;
      font-size: 30px;
      font-weight: 600; }

@media only screen and (max-width: 600px) {
  .dashboard h1 {
    font-size: 25px; }
  .dashboard .mini-stat .mini-stat-info {
    font-size: 15px; }
    .dashboard .mini-stat .mini-stat-info span {
      font-size: 20px; } }

.employees_list .toolbar {
  padding-bottom: 25px; }
  .employees_list .toolbar .btn {
    float: right;
    margin-left: 5px;
    padding: 4px 8px; }

.employees_list .pagination {
  clear: both;
  padding-right: 30px;
  float: right;
  margin-bottom: 90px; }

.employees_list .title {
  padding: 20px 0; }
  .employees_list .title .titleEmp {
    margin: 0; }
  .employees_list .title .col-md-6.wayDisplay button {
    color: #337ab7 !important;
    float: right;
    margin-left: 5px;
    padding: 4px 8px; }
    .employees_list .title .col-md-6.wayDisplay button:hover, .employees_list .title .col-md-6.wayDisplay button:focus {
      background-color: white;
      border-color: rgba(51, 122, 183, 0.63); }
    .employees_list .title .col-md-6.wayDisplay button i {
      color: #337ab7 !important; }
  .employees_list .title .badge {
    font-size: 14px; }

.employees_list .wayDisplay button {
  color: #337ab7 !important; }

.employees_list .listDisplay img.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px; }

.employees_list .gridDisplay {
  display: none; }
  .employees_list .gridDisplay i {
    padding-right: 10px; }
  .employees_list .gridDisplay img {
    width: 100%; }
  .employees_list .gridDisplay .itemGrid {
    padding: 15px; }
    .employees_list .gridDisplay .itemGrid .item {
      margin: 0;
      background-color: rgba(238, 238, 238, 0.65);
      padding: 10px; }
      .employees_list .gridDisplay .itemGrid .item:hover {
        background-color: #E7E7E7; }
      .employees_list .gridDisplay .itemGrid .item h4, .employees_list .gridDisplay .itemGrid .item p {
        margin: 0; }
      .employees_list .gridDisplay .itemGrid .item .action {
        text-align: right; }
        .employees_list .gridDisplay .itemGrid .item .action .fa {
          padding-right: 5px;
          cursor: pointer;
          font-size: 17px; }
        .employees_list .gridDisplay .itemGrid .item .action i.fa.fa-trash-o {
          color: #A94442; }

.employees_list .right-inner-addon {
  position: relative; }

.employees_list .right-inner-addon input {
  padding-right: 30px; }

.employees_list .right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none; }

.employees_list .searchType select {
  padding: 5px; }

.employees_list .addNewEmp button {
  float: right; }

.employees_list #empTable thead {
  border-top: 2px solid #ddd; }

.employees_list #empTable th:hover {
  background-color: #ddd; }

.employees_list #empTable img.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px; }

.employees_list div#countEmp {
  padding-left: 10px; }

/* create Employee form */
#addEmployee .modal-content {
  margin-top: -20px; }

#addEmployee input.inputCV {
  border: none; }

.addEmp {
  max-width: 600px;
  margin: 0 auto; }
  .addEmp .panel-body {
    padding: 30px; }
  .addEmp img {
    width: 100%; }
  .addEmp .avatar .btn {
    margin-top: 3px;
    margin-right: 5px; }
  .addEmp .avatar #imgAvatar {
    display: none; }
  .addEmp .error {
    font-size: 12px;
    color: #a94442; }
  .addEmp .markRequired {
    font-size: 18px;
    padding-left: 5px; }
  .addEmp .errorInput {
    border: 1px solid #a94442; }

.btnForm, .addEmp .avatar {
  text-align: center; }

/* profile */
.profile-emp .avatar img {
  width: 100%; }

.profile-emp .nav-tabs i {
  padding-right: 10px; }

.profile-emp .tab-content {
  font-size: 15px;
  padding: 20px; }
  .profile-emp .tab-content .content .row {
    margin-bottom: 10px; }
  .profile-emp .tab-content i {
    padding-right: 5px; }

@media only screen and (max-width: 970px) {
  .employees_list .searchType, .employees_list .addNewEmp {
    margin-top: 10px; }
  .employees_list .addNewEmp button {
    float: left; }
  .profile-emp .avatar img {
    width: 50%; }
  .profile-emp .main-profile {
    text-align: center; } }

@media only screen and (max-width: 600px) {
  .employees_list .wayDisplay {
    padding: 0; }
  .employees_list .title .titleEmp {
    font-size: 25px; }
  .employees_list .gridDisplay .itemGrid {
    padding: 0;
    margin-top: 15px; }
    .employees_list .gridDisplay .itemGrid h2 {
      font-size: 20px; }
    .employees_list .gridDisplay .itemGrid h4 {
      font-size: 14px; }
    .employees_list .gridDisplay .itemGrid p {
      font-size: 12px; }
    .employees_list .gridDisplay .itemGrid .item .action .fa {
      font-size: 15px; }
  .profile-emp .avatar img {
    width: 50%; }
  .profile-emp .tab-content {
    padding: 0;
    font-size: 13px; } }

/* Task of Employee */
#task .add-task {
  margin-bottom: 10px;
  margin-top: 10px; }

#task #inputTask {
  width: 300px;
  padding: 5px; }

.task-list .task-item {
  border-top: 1px dashed #bdbdbd;
  padding: 15px 0 15px 25px; }
  .task-list .task-item input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2);
    /* Webkit browsers*/
    -webkit-transform: scale(1.2); }
  .task-list .task-item .nameTask {
    padding-left: 0; }
  .task-list .task-item i {
    padding-right: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #a94442; }

/**
* List Project
*/
.project_list h1 {
  margin: 0;
  font-size: 30px;
  color: rgba(51, 122, 183, 0.69); }

.project_list .list_pro {
  clear: both; }

.project_list .itemPro {
  padding: 15px; }
  .project_list .itemPro .item {
    margin: 0;
    padding: 5px;
    background-color: rgba(217, 237, 247, 0.98);
    color: rgba(0, 0, 0, 0.5); }
    .project_list .itemPro .item .namePro {
      color: #337ab7; }
    .project_list .itemPro .item .fa {
      color: #00BCD4;
      margin-top: 25%;
      font-size: 40px; }
    .project_list .itemPro .item:hover {
      cursor: pointer;
      background-color: #E7E7E7; }

.project_list .addProBtn .btn {
  float: right;
  margin-right: 30px; }

.project_list #addPro .modal-content {
  padding: 15px; }

/**
* Detail Project
*/
.project_detail h1 {
  margin: 0;
  font-size: 30px;
  color: rgba(51, 122, 183, 0.69); }

.project_detail .btn-danger {
  float: right;
  margin-right: 30px; }

.project_detail .emp_list .fa-user-plus {
  cursor: pointer;
  border: 1px solid #bdbdbd;
  padding: 10px;
  font-size: 19px;
  border-radius: 50%;
  color: #9d9d9d; }
  .project_detail .emp_list .fa-user-plus:hover {
    border: 1px solid rgba(51, 122, 183, 0.69);
    color: rgba(51, 122, 183, 0.69); }

.project_detail .emp_list .list {
  padding-left: 20px; }
  .project_detail .emp_list .list .list-item {
    float: left; }
  .project_detail .emp_list .list .addNewMem {
    position: relative; }
  .project_detail .emp_list .list .addMember {
    display: none;
    left: 50px;
    top: -45px;
    background-color: white;
    position: absolute;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 20px;
    min-width: 300px; }
    .project_detail .emp_list .list .addMember input {
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif; }
    .project_detail .emp_list .list .addMember .addMemberBtn {
      margin-top: 5px; }

#addDepart .modal-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px; }

.detail-depart h3 {
  color: #337ab7;
  margin-top: 10px; }

.detail-depart img {
  width: 100%; }

.detail-depart .imgDepart {
  padding-left: 20px;
  padding-right: 20px; }

.detail-depart .btn.viewEmp {
  margin-top: 15px; }

.detail-depart .content i {
  color: #00adef; }

.department_list table tbody > tr > td {
  padding: 10px; }

.depart-form {
  max-width: 400px; }

.admin-profile img {
  padding-left: 10px;
  padding-right: 10px; }

.admin-profile span.status.active {
  color: #03A9F4; }
  .admin-profile span.status.active i {
    font-size: 17px; }

.aboutus .col-md-4 {
  text-align: center;
  padding: 4% 4%;
  background: #fff; }

.aboutus .profile {
  display: inline-block;
  width: 170px;
  margin-bottom: 10%;
  transition: all .2s ease-in-out;
  border-radius: 100px; }

.aboutus .subtitle {
  color: rgba(0, 188, 212, 0.6);
  font-size: 18px; }

.aboutus .profile-meta p {
  font-size: 16px; }

/* Delete yellow background of browser */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

body {
  min-width: 250px; }

.row {
  margin: 0; }

form .form-group {
  margin-bottom: 5px; }

form .error {
  font-size: 12px;
  color: #a94442;
  font-weight: 200; }

table td.action i {
  font-size: 16px;
  cursor: pointer; }

.modal-content {
  padding: 15px; }
  .modal-content .btnForm {
    margin-top: 20px; }

@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-weight: 100; } }

.badge {
  background-color: rgba(51, 122, 183, 0.69); }

.btn-default:hover, .btn-default:focus, .btn-default:active {
  background-color: white; }

.titlePage h1 {
  margin: 0;
  font-size: 30px;
  color: rgba(51, 122, 183, 0.69); }

.titlePage .addNew {
  float: right; }

.titlePage .btn-primary {
  color: #fff;
  border-color: #00bcd4;
  background-color: #00bcd4; }
  .titlePage .btn-primary:hover {
    background-color: #00ACC1; }

.btn-primary {
  color: #fff;
  border-color: #00bcd4;
  background-color: #00ACC1; }
  .btn-primary:hover {
    background-color: #00ACC1;
    border-color: #00ACC1; }

/* Return message action success */
.profileType .row.main-profile {
  margin-bottom: 20px; }
  .profileType .row.main-profile i {
    padding-right: 5px; }
  .profileType .row.main-profile .btn-danger {
    margin-top: 5px; }
  .profileType .row.main-profile h3 {
    color: #337ab7; }

.profileType .nav-tabs i {
  padding-right: 10px; }

.profileType .tab-content {
  font-size: 15px;
  padding: 20px; }
  .profileType .tab-content .content .row {
    margin-bottom: 10px; }
  .profileType .tab-content h3 {
    border-left: 6px solid #00BCD4;
    padding-left: 5px;
    color: #00BCD4; }

table thead {
  color: rgba(51, 122, 183, 0.69); }

.gridEmp {
  clear: both; }
  .gridEmp i {
    padding-right: 10px; }
  .gridEmp img {
    width: 100%; }
  .gridEmp .itemGrid {
    padding: 15px; }
    .gridEmp .itemGrid .item {
      margin: 0;
      background-color: rgba(238, 238, 238, 0.65);
      padding: 10px; }
      .gridEmp .itemGrid .item:hover {
        background-color: #E7E7E7; }
      .gridEmp .itemGrid .item h4, .gridEmp .itemGrid .item p {
        margin: 0; }
      .gridEmp .itemGrid .item .action {
        text-align: right; }
        .gridEmp .itemGrid .item .action .fa {
          padding-right: 5px;
          cursor: pointer;
          font-size: 17px; }
        .gridEmp .itemGrid .item .action i.fa.fa-trash-o {
          color: #A94442; }

.response-mess {
  display: none;
  width: 220px;
  height: 60px;
  position: fixed;
  z-index: 2000;
  color: #333;
  left: 0;
  bottom: 0;
  background-color: white;
  border-top: 7px solid #00f3ff; }
  .response-mess p {
    width: 220px; }
  .response-mess .glyphicon-ok {
    color: #00BCD4 !important; }

.panel-title {
  font-size: 20px;
  color: #337ab7; }

@media only screen and (max-width: 600px) {
  .canHide {
    display: none; }
  .titlePage h1 {
    font-size: 25px;
    margin-bottom: 10px; }
  .titlePage .addNew {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px; }
  .main-profile {
    text-align: center; }
  hr {
    display: none; } }

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .profileType .main-profile img {
    width: 50%; } }

@media only screen and (min-width: 960px) {
  .action_success {
    display: none; }
  .content-page {
    padding: 20px 30px 0px 30px; }
  .profileType .main-profile img {
    width: 100%; } }
