﻿@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/Pacifico.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/Lato-Regular.ttf');
}
body {
  font-family: Lato;
}

.nav>li>a>img {
    max-width: 20px;
}
/* khi co lai */
@media (max-width: 768px) {
  .navbar-collapse.navbar-ex1-collapse.collapse.in li a {
    color: rgba(8, 8, 8, 0.63);
  }
  .navbar-collapse.navbar-ex1-collapse.collapse.in .navbar-right>li>ul>li>a:hover{
    color: rgba(8, 8, 8, 0.75);
  }
  .navbar-header button.dropdown.navbar-toggle.lang img {
    padding-top: 5px;
    width: 27px;
    margin: 0;
  }
  .navbar-header button.dropdown.navbar-toggle.lang,
  .navbar-header button.dropdown.navbar-toggle.lang:hover {
    border: none !important;
    padding: 0;
  }


}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(0, 0, 0, 0.09);
}
.navbar-inverse .navbar-right>li,
.navbar-inverse .navbar-right>li:hover,
.navbar-inverse .navbar-right>li:focus {
  background-color: white;
}
.navbar-inverse .navbar-right>li.loginBtn>a {
  color: #000011;

}
.navbar-collapse.navbar-ex1-collapse.collapse.in>ul.side-nav> li.active a,
.navbar-collapse.navbar-ex1-collapse.collapse.in>ul.side-nav> li:hover a {
  color: white;
}

.navbar-inverse .navbar-nav>li.customDrop>a {
  color: #000011;
}
.navbar-nav>li.customDrop:hover {
 // background-color: red !important;
}

li.dropdown ul li:hover{
  color: white;
  background-color: #e7e7e7;
}


i.fa.fa-trash-o {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: 0;
    }
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #4DD0E1;
}
/* chua sua duoc mac dinh cua cho nay */
.navbar-inverse .navbar-nav>li.open ul#accountMenu li {
 // background-color: red !important;
}

.fa-btn {
  margin-right: 6px;
}

.navbar-brand {
  font-family: Pacifico;
  font-size: 35px;
  color: #324675;
  padding: 15px 10px;
}
.navbar-inverse .navbar-brand {
  color: #38c3b4;
}

.navbar-inverse .navbar-header a:hover {
  color: #4eb3a8;
}

.navbar-brand .imgLogo {
  margin-top: -21px;
  width: 50px;
  height: 45px;
  display: inline-block;
}

.side-nav i.fa{
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}


body {
  margin-top: 35px;
}
#wrapper {
  padding-left: 0;
}
#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

.sui-cell {
    font-family: 'Trebuchet MS';
}

/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}
.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}
.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}
.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}
.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #428bca;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.navbar-inverse {
  background-color: white;
  border-color: #e7e7e7;

}
.navbar-nav {
  margin: 0 -15px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #4DD0E1;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #00ACC1;
  color: white;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
}

.navbar-inverse .navbar-toggle {
  border-color: #999;
}

.navbar-inverse .navbar-toggle:hover {
  border: #333333;
}
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: white!important;
  border: 1px solid #333 !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #999;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #DFF0D9;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #428bca;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    //color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}

/* Nav Announcements */
.alerts-heading {
  font-size: 50px;
  margin: 0;
}
.alerts-text {
  margin: 0;
}

/* Table Headers */
table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {
  /* Wrappers */
  #wrapper {
	padding-left: 225px;
  }
  #page-wrapper {
    padding: 30px 25px 40px 25px;
  }

  /* Side Nav */
  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 52px;
	height: 100%;
	border-radius: 0;
    background-color: rgb(0,188,212);
    overflow-y: auto;
    border-right: 1px solid #e7e7e7;

  }

  /*menu overrides*/
  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	//color: #fff;
	background-color: #428bca;
  }
  .side-nav>li>a {
	width: 225px;
  }

  /* Nav Messages */
  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }
  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }
  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

