* {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Pacifico.ttf"); }

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.login .error {
  padding-left: 40px;
  font-size: 12px;
  color: #a94442; }

.login .alert {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  font-size: 13px;
  padding-left: 30px; }

html {
  width: 100%;
  height: 100%; }

html,
body {
  height: 100%;
  background: #ddd;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }

.legend {
  position: relative;
  width: 100%;
  display: block;
  padding: 10px 25px 0 25px;
  color: #38c3b4;
  margin: 0; }
  .legend .team {
    text-align: center; }
  .legend .nameTeam {
    font-family: Pacifico;
    font-size: 45px; }
  .legend .imgLogo {
    width: 30%;
    display: block;
    margin: 0 auto; }

.logoTitle {
  float: right;
  color: #fafafa;
  font-size: 75px;
  bottom: 0;
  right: 5px;
  position: absolute; }

.login {
  top: 10%;
  padding-top: 20px;
  position: relative;
  display: table;
  margin: 0 auto 0 auto;
  background: #fff;
  border-radius: 4px; }

.fieldForm {
  padding: 40px 50px 20px 40px; }
  .fieldForm .btn-link {
    padding: 6px 0; }
  .fieldForm .checkbox label {
    color: #807a7a; }

.input {
  position: relative; }

.input span {
  position: absolute;
  display: block;
  color: #B6ACAC;
  left: 10px;
  top: 8px;
  font-size: 20px; }

.input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid rgba(51, 51, 51, 0.19);
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #807a7a; }

.error {
  color: #FF7052;
  padding-bottom: 10px;
  font-size: 13px; }

.input input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #039BE5; }

.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #38c3b4;
  color: #38c3b4;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out; }

.submit:hover,
.submit:focus {
  background: #38c3b4;
  color: #fff;
  outline: 0; }

.feedback {
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0; }
  .feedback:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px; }
