.aboutus {
  .col-md-4 {
    text-align: center;
    padding: 4% 4%;
    background: #fff;
  }

  .profile {
    display: inline-block;
    width: 170px;
    margin-bottom: 10%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 100px;
  }

  .subtitle {
    color: rgba(0, 188, 212, 0.6);
    font-size: 18px;
  }

  .profile-meta p {
    font-size: 16px;
  }
}