.dashboard {
  h1 {
    color: rgba(51, 122, 183, 0.69);
  }
  hr {
    margin-top:5px;
  }

  .orange {
    background: #f88d6f  !important;
  }

  .blue {
    background-color: rgba(98, 186, 212, 0.65) !important;
  }

  .green {
    background-color: #B7DDA8  !important;
  }

  .mini-stat {
    background-color: rgba(225, 225, 225, 0.66);
    border: 1px solid #F1F2F7;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    .mini-stat-icon {
      width: 65px;
      height: 65px;
      display: inline-block;
      line-height: 65px;
      text-align: center;
      font-size: 30px;
      background: #eee;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      float: left;
      margin-right: 10px;
      color: #fff;
    }
    .mini-stat-info {
      font-size: 18px;
      padding-top: 2px;
      span {
        display: block;
        font-size: 30px;
        font-weight: 600;
      }
    }

  }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 25px;
    }
    .mini-stat {
      .mini-stat-info {
        font-size: 15px;
        span {
          font-size: 20px;
        }
      }
    }
  }

}
