#addDepart {
  .modal-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
  }
}

.detail-depart {
  h3 {
    color: #337ab7;
    margin-top: 10px;
  }
  img {
    width: 100%;
  }
  .imgDepart {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn.viewEmp {
    margin-top: 15px;
  }
  .content {
    i {
      color: rgb(0, 173, 239);
    }
  }
}
.department_list {
  table {
    tbody>tr>td {
      padding: 10px;
    }
  }
}
.depart-form {
  max-width: 400px;
}

