.employees_list {
    //.add-success {
    //    position: fixed;
    //    margin-top: 50px;
    //    margin-left: 200px;
    //}
    .toolbar {
        padding-bottom: 25px;
        .btn {
            float: right;
            margin-left: 5px;
            padding: 4px 8px;
        }
    }
    .pagination {
        clear: both;
        padding-right: 30px;
        float: right;
        margin-bottom: 90px;
    }
    .title {
        padding: 20px 0;
        .titleEmp {
            margin: 0;
        }
        .col-md-6.wayDisplay {
            button {
                color: #337ab7 !important;
                float: right;
                margin-left: 5px;
                padding: 4px 8px;
                &:hover,&:focus {
                    background-color: white;
                    border-color: rgba(51, 122, 183, 0.63);
                }
                i {
                    color: #337ab7 !important;
                }
            }

        }
        .badge {
            font-size: 14px;
        }
    }
    .wayDisplay {
        button {
            color: #337ab7 !important;
        }
    }
    .listDisplay {
        img.avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 5px;
        }

    }

    .gridDisplay {
        display: none;
        i {
            padding-right: 10px;
        }
        img {
            width: 100%;
        }
        .itemGrid {
            padding: 15px;
            .item {
                margin: 0;
                background-color: rgba(238, 238, 238, 0.65);
                padding: 10px;
                &:hover {
                    background-color: #E7E7E7;
                }
                h4, p {
                    margin: 0;
                }
                .action {
                    text-align: right;
                    .fa {
                        padding-right: 5px;
                        cursor: pointer;
                        font-size: 17px;
                    }
                    i.fa.fa-trash-o {
                        color: #A94442;
                    }
                }
            }
        }


    }


    .right-inner-addon {
        position: relative;
    }
    .right-inner-addon input {
        padding-right: 30px;
    }
    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }

    .searchType select {
        padding: 5px;
    }

    .addNewEmp button{
        float:right;
    }

    #empTable thead {
        border-top: 2px solid #ddd;
    }

    #empTable th:hover{
        background-color: #ddd;
    }

    #empTable img.avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
    }

    div#countEmp {
        padding-left: 10px;
    }
}

/* create Employee form */
#addEmployee {
    .modal-content {
        margin-top: -20px;
    }
    input.inputCV {
        border: none;
    }
}
.addEmp {
    max-width: 600px;
    margin: 0 auto;
    .panel-body {
        padding: 30px;
    }
    img {
        width: 100%;
    }
    .avatar {
        .btn {
            margin-top: 3px;
            margin-right: 5px;
        }
        #imgAvatar {
            display: none;
        }
    }
    .error {
        font-size: 12px;
        color: #a94442;
    }
    .markRequired {
        font-size: 18px;
        padding-left: 5px;
    }
    .errorInput {
        border: 1px solid #a94442;
    }
}

.btnForm,.addEmp .avatar {
    text-align: center;
}



/* profile */
.profile-emp {
    .avatar {
        img {
            width: 100%;
            //padding: 0 20px;
        }
    }
    .nav-tabs {
        i {
            padding-right: 10px;
        }
    }
    .tab-content {
        font-size: 15px;
        padding: 20px;
        .content {
            .row {
                margin-bottom: 10px;
            }
        }

        i {
            padding-right: 5px;
        }
    }

    .fileImage {
        //height:0px;
        //overflow:hidden;
    }
}

@media only screen and (max-width: 970px){
    .employees_list {
       .searchType, .addNewEmp {
           margin-top: 10px;
       }
        .addNewEmp button {
            float:left;
        }
    }
    .profile-emp {
        .avatar {
            img {
                width: 50%;
            }
        }
        .main-profile {
            text-align: center;
        }


    }
}

@media only screen and (max-width: 600px) {
    .employees_list {
        .wayDisplay {
            padding: 0;
        }
        .title {
            .titleEmp {
                font-size: 25px;
            }
        }
        .gridDisplay {
            .itemGrid {
                padding: 0;
                margin-top: 15px;
                h2 {
                    font-size: 20px;
                }
                h4 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                }
                .item {
                    .action {
                        .fa {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .profile-emp {
        .avatar {
            img {
                width: 50%;
            }
        }

        .tab-content {
            padding: 0;
            font-size: 13px;
        }


    }
}

/* Task of Employee */
#task {
    .add-task {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #inputTask{
        width: 300px;
        padding: 5px;
    }
}
.task-list {
    .task-item {
        border-top: 1px dashed #bdbdbd;
        padding: 15px 0 15px 25px;
        //&:hover {
        //    background-color: rgba(0, 188, 212, 0.19);
        //}
        input[type="checkbox" ] {
            margin-right: 5px;
            transform: scale(1.2);
            /* Webkit browsers*/
            -webkit-transform: scale(1.2);
        }
        .nameTask {
            padding-left: 0;
        }
        i {
            padding-right: 5px;
            font-size: 20px;
            cursor: pointer;
            color: #a94442;
        }

    }

}