@media only screen and (max-width: 600px) {
  .canHide {
    display: none;
  }
  .titlePage {
    h1 {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .addNew {
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .main-profile {
    text-align: center;
  }
  hr {
    display: none;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .profileType {
    .main-profile {
      img {
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  .action_success {
    display: none;
  }
  .content-page {
    padding: 20px 30px 0px 30px;
  }
  .profileType {
    .main-profile {
      img {
        width: 100%;
      }
    }
  }
}