/* Delete yellow background of browser */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

body {
  min-width: 250px;
}

.row {
  margin: 0;
}
form {
  .form-group {
    margin-bottom: 5px;
  }
  .error {
    font-size: 12px;
    color: #a94442;
    font-weight: 200;
  }
}

table {
  td.action {
    i {
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.modal-content {
  padding: 15px;
  .btnForm {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-weight: 100;
  }
}

.badge {
    background-color: rgba(51, 122, 183, 0.69);
}

.btn-default {
    &:hover, &:focus, &:active{
      background-color: white;
    }
}
.titlePage {
    h1 {
      margin: 0;
      font-size: 30px;
      color: rgba(51, 122, 183, 0.69);
    }
    .addNew {
      float: right;
    }
    .btn-primary {
      color: #fff;
      border-color: rgb(0,188,212);
      background-color: rgb(0,188,212);
      &:hover {
        background-color: #00ACC1;
      }
    }
}
.btn-primary {
    color: #fff;
    border-color: rgb(0,188,212);
    background-color: #00ACC1;
    &:hover {
      background-color: #00ACC1;
      border-color: #00ACC1;
    }
}
  /* Return message action success */
  //.content-page {
  //  position: relative;
  //  .action-success {
  //    position: absolute;
  //    left: 25%;
  //    top: 0;
  //  }
  //}
.profileType {
    .row.main-profile {
      margin-bottom: 20px;
      i {
        padding-right: 5px;
      }
      .btn-danger {
        margin-top: 5px;
      }
      h3 {
        color: #337ab7;
      }
    }
    .nav-tabs {
      i {
        padding-right: 10px;
      }
    }
    .tab-content {
      font-size: 15px;
      padding: 20px;
      .content {
        .row {
          margin-bottom: 10px;
        }
      }
      h3 {
        border-left: 6px solid #00BCD4;
        padding-left: 5px;
        color: #00BCD4;
      }
    }
}

table {
    thead {
      color: rgba(51, 122, 183, 0.69);
    }
  }
.gridEmp {
    clear: both;
    i {
      padding-right: 10px;
    }
    img {
      width: 100%;
    }
    .itemGrid {
      padding: 15px;
      .item {
        margin: 0;
        background-color: rgba(238, 238, 238, 0.65);
        padding: 10px;
        &:hover {
          background-color: #E7E7E7;
        }
        h4, p {
          margin: 0;
        }
        .action {
          text-align: right;
          .fa {
            padding-right: 5px;
            cursor: pointer;
            font-size: 17px;
          }
          i.fa.fa-trash-o {
            color: #A94442;
          }
        }
      }
    }
}


.response-mess{
  display: none;
  width: 220px;
  height: 60px;
  position: fixed;
  z-index: 2000;
  color: #333;
  left: 0;
  bottom: 0;
  background-color: white;
  border-top: 7px solid rgb(0, 243, 255);
  p {
    width: 220px;
  }
  .glyphicon-ok {
    color: #00BCD4 !important;

  }
}
.panel-title {
  font-size: 20px;
  color: #337ab7;
}
