/**
* List Project
*/
.project_list {
  h1 {
    margin: 0;
    font-size: 30px;
    color: rgba(51, 122, 183, 0.69);
  }
  .list_pro {
    clear: both;
  }
  .itemPro {
    padding: 15px;
    .item {
      margin: 0;
      padding: 5px;
      background-color: rgba(217, 237, 247, 0.98);
      color: rgba(0,0,0,.5);
      .namePro {
        color: #337ab7;
      }
      .fa {
        color: #00BCD4;
        margin-top: 25%;
        font-size: 40px;
      }
      &:hover {
        cursor: pointer;
        background-color: #E7E7E7;
      }
    }
  }
  .addProBtn {
    .btn {
      float: right;
      margin-right: 30px;
    }
  }
  #addPro {
    .modal-content {
      padding: 15px;
    }
  }
}

/**
* Detail Project
*/
.project_detail {
  h1 {
    margin: 0;
    font-size: 30px;
    color: rgba(51, 122, 183, 0.69);
  }
  .btn-danger{
    float: right;
    margin-right: 30px;
  }
  .emp_list {
    .fa-user-plus {
      cursor: pointer;
      border: 1px solid #bdbdbd;
      padding: 10px;
      font-size: 19px;
      border-radius: 50%;
      color: #9d9d9d;
      &:hover {
        border: 1px solid rgba(51, 122, 183, 0.69);
        color: rgba(51, 122, 183, 0.69);
      }
    }
    .list {
      padding-left: 20px;
      .list-item {
        float: left;
      }
      .addNewMem {
        position: relative;
      }
      .addMember {
        display: none;
        left:50px;
        top: -45px;
        background-color: white;
        position: absolute;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        padding: 20px;
        min-width: 300px;
        input {
          font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
        }
        .addMemberBtn {
          margin-top: 5px;
        }
      }
    }
  }

}