.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.searchType select {
    padding: 5px;
}
.addDep {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}
.addDep .panel-body{
    padding: 30px;
}