.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.searchType select {
    padding: 5px;
}

.titleEmp{
    margin-top: 20px;
    margin-bottom: 10px;
}

.addNewEmp button{
    float:right;
}

#empTable thead {
    border-top: 2px solid #ddd;
}

#empTable th:hover{
    background-color: #ddd;
}

#empTable img.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

div#countEmp {
    padding-left: 10px;
}


/* create Employee form */
.addEmp {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.addEmp .panel-body {
    padding: 30px;
}

.addEmp img {
    width: 100%;
}

.btnForm,.addEmp .avatar{
    text-align: center;
}

.addEmp .avatar .btn {
    margin-right: 5px;
}

.addEmp .error {
    font-size: 12px;
    color: #a94442;
}
.addEmp .markRequired {
    font-size: 18px;
    padding-left: 5px;
}
.addEmp .errorInput {
    border: 1px solid #a94442;
}

/* profile Emp */
div.profileEmp img {
    width: 100%;
}

.fileImage {
    height:0px;
    overflow:hidden;
}
